
<div class="card" >
  <!-- <p> {{product.title}}</p>
  <p> {{product.id}}</p>
  <p> {{product.description}}</p> -->
  <form [formGroup]="productForm" (ngSubmit)="Submit()">
    <mat-form-field appearance="fill">
      <mat-label>title</mat-label>
      <input matInput formControlName="title" placeholder="title"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>id</mat-label>
      <input matInput formControlName="id" placeholder="id"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>description</mat-label>
      <input matInput description="description" placeholder="description"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>price</mat-label>
      <input matInput type="number" formControlName="price" placeholder="price"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <select matNativeControl required formControlName="category">
        <option value="smartphones">Smartphones</option>
        <option value="skincare">Skincare</option>
        <option value="fragrances">Fragrances</option>
        <option value="laptops">Laptops</option>
        <option value="groceries">Groceries</option>
        <option value="home-decoration">Home-decoration</option>
      </select>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>rating</mat-label>
      <input matInput formControlName="rating" placeholder="rating"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>brand</mat-label>
      <input matInput formControlName="brand" placeholder="brand"><br>
    </mat-form-field><br>

    <br>
    <button type="submit">Submit</button>
  </form>

</div>

<ng-template #showText>
  <div>
    <h1>this is the product form aaaa</h1>
  </div>
</ng-template>



