<div class="admin">
  <div class="home__products" *ngif="products.lenth"></div>
  <!-- <table>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td><img style="width:30px;height:30px" src={{product.image}}></td>
    </tr>
  </table> -->
   <!-- <div class="home__product" *ngFor="let product of products">
    <app-card [product]="product"></app-card>
  </div>  -->



</div>
